meta(charset='utf-8')
meta(name='theme-color' content='#fff')
meta(http-equiv='content-language' content=lang)
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover')
meta(name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1')
base(href='/')
title=META_TITLE

link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href=googleFontsPrimary rel='stylesheet')
link(rel="canonical" href=canonicalLink)

meta(name='title' content=META_TITLE)
meta(name='description' content=META_DESCRIPTION)
meta(name='keywords' content=META_KEYWORDS)
meta(name='author' content=META_CREATOR)

link(rel='icon' type='image/png' sizes='32x32' href=faviconDir + 'favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href=faviconDir + 'favicon-16x16.png')
link(rel='shortcut icon' href=faviconDir + 'favicon.ico' type='image/x-icon')
link(rel='icon' href=faviconDir + 'favicon.ico' type='image/x-icon')
link(rel='stylesheet' href=sourcePathSCSS)
